openapi: 3.0.0
info:
    title: My API
    version: 1.0.0
servers:
    - url: https://postman-echo.com
paths:
    /users:
        get:
            summary: Get a list of users
            responses:
                '200':
                    description: A list of users
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: schemas.yaml#/User
    /orders:
        post:
            summary: Create an order
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: schemas.yaml#/User
            responses:
                '201':
                    description: Order created
components:
    schemas:
        User:
            $ref: schemas.yaml#/User
